@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body header h1 {
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 50px;
  color: #287233;
}
body header nav {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid black;
}
body header nav ul {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
body header nav ul li {
  margin-right: 25px;
  font-family: "Space Mono", monospace;
}
body header nav ul li a {
  color: black;
}
body main .definicion {
  margin: 50px;
  justify-content: center;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 50px 500px;
}
body main .definicion h2 {
  grid-column: 1/span2;
  grid-row: 1;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 30px;
  color: #5EA763;
}
body main .definicion img {
  grid-column: 1;
  grid-row: 2;
  height: 100%;
  width: 100%;
  border-style: groove;
}
body main .definicion p {
  margin-left: 20px;
  grid-column: 2;
  grid-row: 2;
  height: 100%;
  width: 100%;
  text-align: justify;
  font-family: "Space Mono", monospace;
  font-size: 26px;
}
body main .servicios {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 50px 50px 300px;
  justify-content: center;
}
body main .servicios h2 {
  grid-column: 1/span3;
  grid-row: 1;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 30px;
  color: #5EA763;
}
body main .servicios #txtReserva {
  text-align: center;
  grid-column: 1;
  grid-row: 2;
  height: 100%;
  width: 100%;
  font-family: "Space Mono", monospace;
  font-size: 30px;
}
body main .servicios #txtElige {
  text-align: center;
  grid-column: 2;
  grid-row: 2;
  height: 100%;
  width: 100%;
  font-family: "Space Mono", monospace;
  font-size: 30px;
}
body main .servicios #txtCalifica {
  text-align: center;
  grid-column: 3;
  grid-row: 2;
  height: 100%;
  width: 100%;
  font-family: "Space Mono", monospace;
  font-size: 30px;
}
body main .servicios #imgReserva {
  grid-column: 1;
  grid-row: 3;
  height: 100%;
  width: 100%;
  border-style: groove;
}
body main .servicios #imgElige {
  grid-column: 2;
  grid-row: 3;
  height: 100%;
  width: 100%;
  border-style: groove;
}
body main .servicios #imgCalifica {
  grid-column: 3;
  grid-row: 3;
  height: 100%;
  width: 100%;
  border-style: groove;
}
body main .stakeholders {
  margin: 100px;
  justify-content: center;
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: auto 300px 300px;
}
body main .stakeholders h2 {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 30px;
  color: #5EA763;
}
body main .stakeholders .stkholder1 {
  grid-column: 1;
  grid-row: 2;
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-family: "Space Mono", monospace;
  font-size: 25px;
}
body main .stakeholders #imgStkholder1 {
  grid-column: 1;
  grid-row: 2;
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-position: center;
  opacity: 0.3;
  border: 1px solid black;
}
body main .stakeholders .stkholder2 {
  grid-column: 1;
  grid-row: 3;
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-family: "Space Mono", monospace;
  font-size: 25px;
}
body main .stakeholders #imgStkholder2 {
  grid-column: 1;
  grid-row: 3;
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-position: center;
  opacity: 0.3;
}/*# sourceMappingURL=style.css.map */

body main .ventajas {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 50px 50px 300px;
  justify-content: center;
  grid-gap: 5px;
}

body main .ventajas h2 {
  text-align: center;
  grid-column: 2;
  grid-row: 2;
  height: 100%;
  width: 100%;
  font-family: "Space Mono", monospace;
  font-size: 20px;
}
body main .ventajas p {
  margin-right: 25px;
  font-family: "Space Mono", monospace;
  text-align: justify;
}
