@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body header h1 {
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 50px;
  color: #287233;
}
body header nav {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid black;
}
body header nav ul {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
body header nav ul li {
  margin-right: 25px;
  font-family: "Space Mono", monospace;
}
body header nav ul li a {
  color: black;
}
body main .descripcion {
  margin: 50px;
  justify-content: center;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 50px 500px;
  grid-gap: 10px;
}
body main .descripcion .h2Definicion {
  grid-column: 1/span 2;
}
body main .descripcion .h2Definicion h2 {
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 30px;
  color: #5EA763;
}
body main .descripcion .imgDefinicion img {
  border-style: groove;
  height: 100%;
  width: 100%;
}
body main .descripcion .pDefinicion p {
  margin-left: 20px;
  height: 100%;
  width: 100%;
  text-align: justify;
  font-family: "Space Mono", monospace;
  font-size: 26px;
}
body main .servicios {
  margin: 100px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 50px 50px 300px;
  justify-content: center;
}
body main .servicios .h2Servicios {
  grid-column: 1/span 3;
}
body main .servicios .h2Servicios h2 {
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 30px;
  color: #5EA763;
}
body main .servicios .pReserva {
  text-align: center;
}
body main .servicios .pReserva p {
  height: 100%;
  width: 100%;
  font-family: "Space Mono", monospace;
  font-size: 30px;
}
body main .servicios .pElige {
  text-align: center;
}
body main .servicios .pElige p {
  height: 100%;
  width: 100%;
  font-family: "Space Mono", monospace;
  font-size: 30px;
}
body main .servicios .pCalifica {
  text-align: center;
}
body main .servicios .pCalifica p {
  height: 100%;
  width: 100%;
  font-family: "Space Mono", monospace;
  font-size: 30px;
}
body main .servicios .imgReserva img {
  height: 100%;
  width: 100%;
  border-style: groove;
}
body main .servicios .imgElige img {
  height: 100%;
  width: 100%;
  border-style: groove;
}
body main .servicios .imgCalifica img {
  height: 100%;
  width: 100%;
  border-style: groove;
}
body main .stakeholders {
  margin: 100px;
  justify-content: center;
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: auto 300px 300px;
}
body main .stakeholders .h2Stakeholders h2 {
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 30px;
  color: #5EA763;
}
body main .stakeholders .stakeholder1 {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  align-items: center;
  border: 1px solid black;
}
body main .stakeholders .imgStakeholder1 {
  grid-column: 1;
  grid-row: 2;
}
body main .stakeholders .imgStakeholder1 img {
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-position: center;
  opacity: 0.3;
}
body main .stakeholders .stakeholder2 {
  grid-column: 1;
  grid-row: 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid black;
}
body main .stakeholders .imgStakeholder2 {
  grid-column: 1;
  grid-row: 3;
}
body main .stakeholders .imgStakeholder2 img {
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-position: center;
  opacity: 0.3;
}
body main .ventajas {
  margin: 100px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: auto auto auto auto;
  justify-content: center;
  grid-gap: 10px;
}
body main .ventajas .h2Ventajas {
  grid-column: 1/span 3;
}
body main .ventajas .h2Ventajas h2 {
  margin-bottom: 25px;
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 30px;
  color: #5EA763;
}
body main .ventajas .imgVentajas {
  text-align: center;
}
body main .ventajas .titulosVentajas {
  text-align: center;
}
body main .ventajas .pVentajas {
  text-align: justify;
  margin-right: 25px;
  font-family: "Space Mono", monospace;
}
body main .contacto {
  margin: 100px;
  justify-content: center;
}
body main .contacto .h2Contacto h2 {
  margin-bottom: 25px;
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 30px;
  color: #5EA763;
}
body main .contacto .pContacto {
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 20px;
}
body main .contacto .ulContacto {
  margin: 25px;
}
body main .contacto .ulContacto li {
  margin: 25px;
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 20px;
}
body main .nosotros {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 50px 300px 50px 300px;
  justify-content: center;
  grid-gap: 10px;
}
body main .nosotros .h2Nosotros {
  grid-column: 1/span 2;
  text-align: center;
  height: 100%;
  width: 100%;
  font-family: "Space Mono", monospace;
  font-size: 20px;
  color: #5EA763;
}
body main .nosotros .imgNosotros {
  text-align: center;
}
body main .nosotros .imgNosotros img {
  height: auto;
  width: 66%;
  border-radius: 300px;
}
body main .nosotros .Nombres {
  text-align: center;
}
body main .nosotros .Nombres p {
  font-family: "Space Mono", monospace;
  font-size: 20px;
  color: #5EA763;
}
body main .nosotros .pNosotros {
  grid-column: 1/span 2;
}
body main .nosotros .pNosotros p {
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 20px;
}
body footer {
  border: 1px solid black;
  margin: 50px;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-template-rows: 50px 130px;
  justify-content: center;
}
body footer .foot1 p {
  height: 100%;
  width: 100%;
  font-family: "Space Mono", monospace;
  font-size: 20px;
}
body footer .foot1 a {
  font-family: "Space Mono", monospace;
  font-size: 20px;
}
body footer .foot2 h3 {
  height: 100%;
  width: 100%;
  font-family: "Space Mono", monospace;
  font-size: 20px;
}
body footer .foot2 ul {
  font-family: "Space Mono", monospace;
  font-size: 15px;
}
body footer .foot3 h3 {
  height: 100%;
  width: 100%;
  font-family: "Space Mono", monospace;
  font-size: 20px;
}
body footer .foot3 ul {
  font-family: "Space Mono", monospace;
  font-size: 15px;
}
body footer .foot4 {
  margin-top: 70px;
}
body footer .foot5 {
  margin-top: 100px;
}
@media screen and (max-width: 800px) {
  body header h1 {
    text-align: center;
    font-size: 25px;
  }
  body header nav ul {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-flex;
  }
  body header nav ul li {
    margin-right: 15px;
    font-family: "Space Mono", monospace;
    font-size: 9px;
  }
  body header nav ul li a {
    color: black;
  }
  body main .descripcion {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
  }
  body main .descripcion .h2Definicion {
    grid-column: 1;
    grid-row: 1;
  }
  body main .descripcion .h2Definicion h2 {
    font-size: 20px;
  }
  body main .descripcion .imgDefinicion {
    grid-column: 1;
    grid-row: 2;
    text-align: center;
  }
  body main .descripcion .imgDefinicion img {
    height: 300px;
    width: 300px;
  }
  body main .descripcion .pDefinicion {
    grid-column: 1;
    grid-row: 3;
    justify-content: center;
  }
  body main .descripcion .pDefinicion p {
    margin-left: 0;
    font-size: 15px;
  }
  body main .servicios {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    justify-content: center;
  }
  body main .servicios .h2Servicios {
    grid-column: 1;
    grid-row: 1;
  }
  body main .servicios .h2Servicios h2 {
    font-size: 20px;
  }
  body main .servicios .pReserva {
    grid-column: 1;
    grid-row: 2;
  }
  body main .servicios .pReserva p {
    font-size: 15px;
  }
  body main .servicios .imgReserva {
    grid-column: 1;
    grid-row: 3;
    text-align: center;
  }
  body main .servicios .imgReserva img {
    height: 150px;
    width: 150px;
  }
  body main .servicios .pElige {
    grid-column: 1;
    grid-row: 4;
  }
  body main .servicios .pElige p {
    font-size: 15px;
  }
  body main .servicios .imgElige {
    grid-column: 1;
    grid-row: 5;
    text-align: center;
  }
  body main .servicios .imgElige img {
    height: 150px;
    width: 150px;
  }
  body main .servicios .pCalifica {
    grid-column: 1;
    grid-row: 6;
  }
  body main .servicios .pCalifica p {
    font-size: 15px;
  }
  body main .servicios .imgCalifica {
    grid-column: 1;
    grid-row: 7;
    text-align: center;
  }
  body main .servicios .imgCalifica img {
    height: 150px;
    width: 150px;
  }
  body main .stakeholders {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
  }
  body main .stakeholders .h2Stakeholders h2 {
    text-align: center;
    font-size: 20px;
  }
  body main .stakeholders .stakeholder1 {
    grid-column: 1;
    grid-row: 2;
  }
  body main .stakeholders .imgStakeholder1 {
    grid-column: 1;
    grid-row: 2;
  }
  body main .stakeholders .stakeholder2 {
    grid-column: 1;
    grid-row: 3;
  }
  body main .stakeholders .imgStakeholder2 {
    grid-column: 1;
    grid-row: 3;
  }
  body main .ventajas {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    justify-content: center;
  }
  body main .ventajas .h2Ventajas {
    grid-column: 1;
    grid-row: 1;
  }
  body main .ventajas .h2Ventajas h2 {
    font-size: 20px;
  }
  body main .ventajas #imgVenaja1 {
    grid-column: 1;
    grid-row: 2;
  }
  body main .ventajas #imgVenaja1 img {
    height: 150px;
    width: 150px;
  }
  body main .ventajas #tituloVentaja1 {
    grid-column: 1;
    grid-row: 3;
  }
  body main .ventajas #tituloVentaja1 h2 {
    font-size: 15px;
  }
  body main .ventajas #pVentaja1 {
    grid-column: 1;
    grid-row: 4;
  }
  body main .ventajas #pVentaja1 p {
    font-size: 15px;
    margin-bottom: 25px;
  }
  body main .ventajas #imgVenaja2 {
    grid-column: 1;
    grid-row: 5;
  }
  body main .ventajas #imgVenaja2 img {
    height: 150px;
    width: 150px;
  }
  body main .ventajas #tituloVentaja2 {
    grid-column: 1;
    grid-row: 6;
  }
  body main .ventajas #tituloVentaja2 h2 {
    font-size: 15px;
  }
  body main .ventajas #pVentaja2 {
    grid-column: 1;
    grid-row: 7;
  }
  body main .ventajas #pVentaja2 p {
    font-size: 15px;
    margin-bottom: 25px;
  }
  body main .ventajas #imgVenaja3 {
    grid-column: 1;
    grid-row: 8;
  }
  body main .ventajas #imgVenaja3 img {
    height: 150px;
    width: 150px;
  }
  body main .ventajas #tituloVentaja3 {
    grid-column: 1;
    grid-row: 9;
  }
  body main .ventajas #tituloVentaja3 h2 {
    font-size: 15px;
  }
  body main .ventajas #pVentaja3 {
    grid-column: 1;
    grid-row: 10;
  }
  body main .ventajas #pVentaja3 p {
    font-size: 15px;
    margin-bottom: 25px;
  }
  body main .contacto {
    justify-content: center;
  }
  body main .contacto .h2Contacto h2 {
    text-align: center;
    font-size: 20px;
  }
  body main .contacto .pContacto p {
    font-size: 15px;
  }
  body main .contacto .ulContacto li {
    font-size: 15px;
  }
  body main .nosotros {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
  }
  body main .nosotros .h2Nosotros {
    grid-column: 1/span 2;
    grid-row: 1;
  }
  body main .nosotros .h2Nosotros h2 {
    text-align: center;
    font-size: 20px;
  }
  body main .nosotros #imgChristyan {
    grid-column: 1/span 2;
    grid-row: 2;
  }
  body main .nosotros #imgChristyan img {
    height: 150px;
    width: 150px;
  }
  body main .nosotros #nombreChristyan {
    grid-column: 1/span 2;
    grid-row: 3;
  }
  body main .nosotros #nombreChristyan p {
    font-size: 15px;
  }
  body main .nosotros #imgVictor {
    grid-column: 1/span 2;
    grid-row: 4;
  }
  body main .nosotros #imgVictor img {
    height: 150px;
    width: 150px;
  }
  body main .nosotros #nombreVictor {
    grid-column: 1/span 2;
    grid-row: 5;
  }
  body main .nosotros #nombreVictor p {
    font-size: 15px;
  }
  body main .nosotros .pNosotros {
    grid-column: 1/span 2;
    grid-row: 6;
  }
  body main .nosotros .pNosotros p {
    font-size: 15px;
    margin-bottom: 25px;
  }
  body footer {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */